{% extends 'noos_viewer/base.html' %}

{% block title %}Login{% endblock %}

{% block body_block %}
    <div class="container top-content">
        <div class="d-flex justify-content-center mb-3">
            <div class="p-2">
                <div class="card" style="padding: 5px 1rem 1rem;">
                    <div class="row" style="background: linear-gradient(0deg,#a6e1ec,#fff) !important;">
                        <div class="col">
                            <p class="h6" style="margin: 0">Log in</p>
                        </div>
                    </div>
                    <form method="post" style="padding-top: 1rem">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="fieldWrapper row form-group"
                                 aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                                <div class="col-md-3">
                                    {% if field.help_text %}
                                        <span class="help" data-toggle="tooltip" data-placement="bottom"
                                              title="{{ field.help_text|striptags|safe }}">
                                        <i class="material-icons">help</i>
                                    </span>
                                    {% endif %}
                                    {{ field.label_tag }}
                                    {% if field.field.required %}
                                        <span class="required"></span>
                                    {% endif %}
                                </div>
                                <div class="col-md-9">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col">
                                <a class="btn btn-secondary" href="{% url 'password_reset' %}"
                                   role="button">Forgot password?</a>

                                <span class="float-right">
                                    <button type="submit" class="btn btn-info">Log in</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body_block %}








