<!-- templates/registration/password_reset_confirm.html -->
{% extends 'noos_viewer/base.html' %}

{% block title %}Password reset confirmation{% endblock %}

{% block body_block %}
    {% if validlink %}
        <div class="container top-content">
            <div class="row">
                <div class="col-5"><h2>Password reset confirmation</h2></div>
                <div class="col-12">
                    <blockquote class="blockquote-fresh">
                        Please enter your new password twice so we can verify you typed it in correctly.
                    </blockquote>
                </div>
            </div>
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper row form-group"
                         aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                        <div class="col-md-1">
                            {% if field.help_text %}
                                <span class="help" data-toggle="tooltip" data-placement="bottom"
                                      title="{{ field.help_text|striptags|safe }}">
                            <i class="material-icons">help</i>
                        </span>
                            {% endif %}
                            {{ field.label_tag }}
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                        </div>
                        <div class="col-md-11">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
                    <div class="col-4 mx-auto text-center">
                        <input class="btn btn-success" type="submit" value="Change my password">
                    </div>
                </div>
            </form>
        </div>
    {% else %}
        <div class="container top-content">
            <div class="d-flex justify-content-center mb-3">
                <div class="p-2">
                    <div class="card" style="padding: 5px 1rem 1rem;">
                        <p class="text-center">
                            The password reset link was invalid, possibly because it has already been used. Please
                            request a new password reset.
                        </p>
                        <div class="row">
                            <div class="col text-center">
                                <a class="btn btn-primary" href="{% url 'home' %}" role="button">
                                    <i class="material-icons"
                                       style="font-size: 1rem;vertical-align: middle;padding-bottom: 3px;">home</i>&nbsp;Go
                                    back to home
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}