<!-- templates/registration/password_change_form.html -->
{% extends 'noos_viewer/base.html' %}

{% block title %}Password change{% endblock %}

{% block body_block %}
    <div class="container top-content">
        <div class="row">
            <div class="col-5"><h2>Forgot Password</h2></div>
            <div class="col-12">
                <blockquote class="blockquote-fresh">
                    Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
                </blockquote>
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper row form-group"
                     aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                    <div class="col-md-3">
                        {% if field.help_text %}
                            <span class="help" data-toggle="tooltip" data-placement="bottom"
                                  title="{{ field.help_text|striptags|safe }}">
                            <i class="material-icons">help</i>
                        </span>
                        {% endif %}
                        {{ field.label_tag }}
                        {% if field.field.required %}
                            <span class="required">*</span>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
                <div class="col-4 mx-auto text-center">
                    <input class="btn btn-success" type="submit" value="Change my password">
                </div>
            </div>
        </form>
    </div>
{% endblock %}
