<!-- templates/registration/password_reset_done.html -->
{% extends 'noos_viewer/base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block body_block %}
     <div class="container top-content">
        <div class="d-flex justify-content-center mb-3">
            <div class="p-2">
                <div class="card" style="padding: 5px 1rem 1rem;">
                    <p class="text-center">
                        We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>
                        If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
                    </p>
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-primary" href="{% url 'home' %}" role="button">
                                <i class="material-icons" style="font-size: 1rem;vertical-align: middle;padding-bottom: 3px;">home</i>&nbsp;Go back to home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}