{% extends 'noos_viewer/base.html' %}

{% block title %}Message sent{% endblock %}

{% block body_block %}
    <div class="container top-content">
        <div class="d-flex justify-content-center mb-3">
            <div class="p-2">
                <div class="card" style="padding: 5px 1rem 1rem;">
                    <p class="text-center">
                        Your message, has been sent.<br>
                        We will do our best to contact you soon.
                    </p>
                    <div class="row">
                        <div class="col text-center">
                            <a class="btn btn-primary" href="{% url 'home' %}" role="button">
                                <i class="material-icons" style="font-size: 1rem;vertical-align: middle;padding-bottom: 3px;">home</i>&nbsp;Application home
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}