{% extends 'noos_viewer/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Request an account{% endblock %}

{% block page_css_block %}
    <style>
        .tooltip-inner {
            white-space:pre;
            max-width:none;
            text-align: left;
        }
    </style>
{% endblock %}

{% block body_block %}
    <div class="container top-content">
        <div class="row">
            <div class="col-5"><h2>Request an account</h2></div>
            <div class="col-7">
                <span class="float-right">
                 <a class="btn btn-primary" href="{% url 'home' %}" role="button">
                        <i class="material-icons" style="font-size: 1rem;vertical-align: middle;padding-bottom: 3px;">home</i>&nbsp;Application home
                 </a>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <blockquote class="blockquote-fresh" style="text-align:center">
                    Access to the NOOS-Drift application is restricted to our users.<br>Please read the <a href="https://odnature.naturalsciences.be/noosdrift/conditions-use/">conditions of use</a> if you wish to become a user.<br>
                    A <a href="{% url 'noos_viewer:contactform' %}">contact form</a> is at your disposal for any remaining questions.<br>
                    If you wish to become a user fill in the following form.
                </blockquote>
            </div>
        </div>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'captcha' %}
                <div class="col-md-12" style="text-align:center;margin-bottom:15px">
                        Please fill the next textbox !!!! WITH THE RESULT !!!! of the following mathematical operation
                </div>
                {% endif %}
                <div class="fieldWrapper row form-group"
                     aria-required="{% if field.field.required %}true{% else %}false{% endif %}">
                    <div class="col-md-3">
                        {% if field.help_text %}
                            <span class="help" data-placement="bottom" title="{{ field.help_text|safe }}" data-html="true">
                            <i class="material-icons">help</i>
                        </span>
                        {% endif %}
                        {{ field.label_tag }}
                        {% if field.field.required %}
                            <span class="required">*</span>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        {{ field }}
                        {% if field.name == 'captcha' %}
                            <button class='captcha'>Refresh</button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
            <div class="row" style="margin-top: 2rem; margin-bottom: 2rem;">
                <div class="col-4 mx-auto text-center">
                    <input class="btn btn-success" type="submit" value="Sign up">
                </div>
            </div>
        </form>
        {% if form.errors %}
           <button id="error_button" type="button" class="btn btn-primary" hidden="true" data-toggle="modal"
                   data-target="#error_modal">
  Open Errors
           </button>

<div class="modal" id="error_modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Errors in Form</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        {{ form.errors }}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
        {% endif %}
    </div>
{% endblock %}

{% block page_js_block %}
    <!-- # TODO adapt captcha url for production -->
    <script type="application/javascript">
        $('.help').tooltip({html: true});
        let the_button = $('#error_button');
        if ( typeof the_button !== "undefined" && the_button !== null  ) {
          the_button.click();
        }
        $('.captcha').click(function () {
            $.getJSON("{% url 'captcha-refresh' %}", function (result) {
                $('.captcha').attr('src', result['image_url']);
                $('#id_captcha_0').val(result['key'])
            });
        });
    </script>
{% endblock %}
